@model IEnumerable<film_app.Models.Kategoria>
@{
    
}

<header class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Filmy</a>
        <div class="collapse navbar-collapse" style="margin-left: 1rem">
            <div class="navbar-nav">
                @foreach(var kategoria in Model)
                {
                    <a class="btn btn-outline-info" type="button" style="margin-left:0.6rem" aria-current="page" href="@Url.Action("Lista", "Filmy", new{nazwaKategorii=@kategoria.Nazwa.ToUpper()})">@kategoria.Nazwa</a>
                }
                <a style="margin-left:2rem" href="@Url.Action("DodajFilm", "Filmy")" class="btn btn-outline-info">Dodaj Film</a>
                @using(Html.BeginForm("Szukaj", "Filmy", FormMethod.Post, new{@class="form-inline"})){
                    @Html.TextBox("tekst", null, new{@class="form-control mr-sm-2", type="search", placeholder="Szukaj"})
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
                }
               
            </div>
        </div>
    </div>
</header>
