@model film_app.Models.Film
@{
	Layout = "_Layout";
	ViewData["Title"] = "Edycja Filmu";
}


@using (Html.BeginForm("EdytujFilm", "Filmy", FormMethod.Post))
{
    <div class="row">
        <div class="col-auto">
            <img src="~/content/@Model.Plakat" style="height: 20rem"/>
        </div>
        <div class="col col-lg-8">
            <ul class="list-group">
                @Html.HiddenFor(f=>f.Id)
                <li class="list-group-item">Tytul:<br/>@Html.TextBoxFor(f=>f.Tytul, new{@class="form-control"})</li>
                <li class="list-group-item">Rezyser:<br/>@Html.TextBoxFor(f=>f.Rezyser, new{@class="form-control"})</li>
                <li class="list-group-item">Cena:<br/>@Html.TextAreaFor(f=>f.Cena, new{@class="form-control"})</li>
                <li class="list-group-item">Data dodania:<br/>@Html.TextBoxFor(f=>f.DataDodania, new{@type="datetime-local"})</li>
                <li class="list-group-item">Opis:<br/>@Html.TextAreaFor(f=>f.Opis, new{@class="form-control", rows="4"})</li>
            </ul>
        </div>
    </div>


	<div class="form-group">
		<button type="submit" class="btn btn-primary">Zapisz</button>
	</div>

}
