@model KategoriaViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = ViewBag.nazwa;
}


<div class="text-center">
    <p class="lista-filmow-tytul">Lista filmów w kategorii @ViewBag.nazwa</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Opis</th>
            <th>Czas Trwania</th>
            <th>Data dodania</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model.FilmyNajnowsze)
        {
            <tr>
                <td>@film.Tytul</td>
                <td>@film.Rezyser</td>
                <td>@film.Opis</td>
                <td>@((film.czasTrwania != null)? (film.czasTrwania+"min."): "")</td>
                <td>@film.DataDodania.ToShortDateString()</td>
                <td>@((film.Cena != null)? (film.Cena+"zł"): "")</td>
            </tr>
        }
    </tbody>
</table>



