@model Film
@{
    Layout = "_Layout";
    ViewData["Title"] = ViewBag.nazwa;
}

<div class="text-center">
    <p class="lista-filmow-tytul">Szczegoły filmu @Model.Tytul</p>
</div>
@(await Component.InvokeAsync("FilmyKategorii", new{nazwaKategorii = @Model.Kategoria.Nazwa.ToUpper()}))

<table>
    <tr>
        <td>
            <h1>@Model.Kategoria.Nazwa</h1>
        </td>
        <td>
                <ul>
                    <li>Tytul: @Model.Tytul</li>
                    <li>Rezyser: @Model.Rezyser</li>
                    <li>Opis: @Model.Opis</li>
                    <li>Czas trwania: @Model.czasTrwania</li>
                    <li>Cena: @Model.Cena</li>
                    <li>Plakat: <img src="~/content/@Model.Plakat"/></li>
                </ul>
        </td>
    </tr>
</table>