@model IEnumerable<film_app.Models.KoszykRzecz>
@{
    ViewData["Title"] = "Koszyk";
    Layout = "_Layout";
}
<div class="text-center">
    <table>
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Ilość</th>
            <th>Wartość</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
    @foreach (KoszykRzecz koszykRzecz in Model) 
    {

      <tr id="cartItem-@koszykRzecz.Film.Id">
        <td>@koszykRzecz.Film.Tytul</td>
        <td><span id="itemQuantity-@koszykRzecz.Film.Id">@koszykRzecz.Ilosc</span></td>
        <td class="table-warning">@koszykRzecz.Wartosc zł</td>
        <td><a href="#" class="trash" data-id="@koszykRzecz.Film.Id">&#128465</a></td>
      </tr>
    }
    </tbody>
    </table>

</div>
<div >
    Razem: <span id="wartosc">@ViewBag.CenaCalkowita</span> zł
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(".trash").click(function(){
        var ElementKoszaId = $(this).data("id");
            console.log(ElementKoszaId);
            if(ElementKoszaId != '')
            {
                
                $.post("/Koszyk/UsunZKoszyka", {"id":ElementKoszaId}, function(response)
                {
                    if(response.iloscRzeczy == 0){
                        console.log("#cartItem-"+response.rzeczId);
                        $("#cartItem-"+response.rzeczId).fadeOut("slow");
                    }
                    else{
                        $("#itemQuantity-"+response.rzeczId).text(response.iloscRzeczy);
                    }
                    $("#wartosc").text(response.wartoscKoszyka);
                });
            };
        });
    </script>
}
